@import '~antd/dist/antd.css';

.search-container{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.ant-input-group-wrapper {
  width: 30%;
}

.repo-list{
  display: flex;
  justify-content: center;
}